@import "tailwindcss";
@import "tw-animate-css";

@import "./fonts.css";
@import "./shadcn.css";

/*
 * custom `dark:` variant supports color palette defined using `light-dark()`.
 * replaces: `@custom-variant dark (&:is(.dark *));`
 */

@custom-variant dark {
  &:is(.dark, .dark *) {
    @slot;
  }
  @media (prefers-color-scheme: dark) {
    &:not(:is(.light, .light *)) {
      @slot;
    }
  }
}

@theme {
  --font-sans: "Inter Variable", "Arial", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

:root {
  color-scheme: light dark;
  color: var(--foreground);
  background-color: var(--background);

  &.light {
    color-scheme: only light;
  }
  &.dark {
    color-scheme: only dark;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
