# dependencies
/node_modules/

# react router
/.react-router/
/build/

# environment
.env
.env.*
!.env.dev

# cloudflare
.mf
/.wrangler
worker-configuration.d.ts

# cloudflare environment
.dev.vars

# os
.DS_Store

# workflow
*.wip.*
*.tmp.*
*.notes.*
